// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// inspiration: https://www.instagram.com/p/CDwGiQBFNAL/
$pieta-white: #FAF7D4;
$pieta-black: #151723;
$pieta-red: #601A0D;
$pieta-orange: #8C3C01;
$pieta-yellow: #DBA63A;
